body {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  transition: background-color 0.5s;
}

.homebutton {
  margin-right: 30px;
}

.navbar-nav {
  display: inline-flex;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
}


.icon-link {
  margin-right: 20px; /* Jarak antara icon-link dengan elemen navbar lain */
}

.navbar.scrolled {
  background-color: #effffb !important;
}

.jumbotron {
  background: url("./Resource/Jumbotron/bgsekolah.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  position: relative;
  overflow: hidden;
}

.jumbotron::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Warna putih dengan opacity 0.5 */
  z-index: 1;
}

.jumbotron .jumcontent {
  position: relative;
  z-index: 1;
  padding: 50px;
}

.jumbotron .row {
  align-items: center;
}

.jumbotron img {
  max-width: 100%;
}

.jumbotron .display-4 {
  color: #262262;
}

.jumbotron .lead {
  color: #0b7012;
}

.py-5 {
  margin-top: 50px;
}

.card {
  transition: all 0.3s;
  max-width: 300px; /* Lebar maksimum card */

  margin: auto; /* Untuk membuat card berada di tengah */
  border-width: 2px;
}
.card:hover {
  transform: scale(1.03);
}

.card-img-top {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

section {
  padding-top: 70px; /* Adjust this value according to the height of your navbar */
  margin-top: -70px; /* This should be the same value as padding-top to ensure no extra space */
}

.section-divider {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.section-divider hr {
  width: 50px;
  border-top: 2px solid #ccc;
}


/**/

.divisionbutton {
    text-align: center; /* Centers the content */
    position: relative;
}

.buttonA {
    display: inline-block;
    position: relative;
}

.buttonA img {
    display: block;
    width: 300px; 
    height: 400px
}

.divisionbutton-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    pointer-events: none; /* Ensures the text is not clickable */
}


/**/

.contact-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
  overflow: hidden;
}
.contact-item {
  display: flex;
  align-items: center;
  margin: 10px;
}
.contact-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #262262;
  font-size: 18px;
}
.contact-item i {
  padding-right: 5px;
  font-size: 24px;
}
.contact-item p {
  margin: 0;
}

footer {
  background: #f8f9fa;
  color: #262262;
}

.bg-light {
  background-color: #ffffff !important;
}

h1 {
  color: #262262;
}

h2 {
  color: #0b7012;
}

h3 {
  color: #81c241;
}

.btn-primary {
  background-color: #81c241;
  border-color: #81c241;
}

.btn-primary:hover {
  background-color: #8fd748;
  border-color: #8fd748;
}

@media (max-width: 600px) {
  body {
    font-size: 90%;
  }
  nav {
    height: 12vh;
  }
  nav .logoimg {
    margin-top: -5px;
    overflow: hidden;
    transform: scale(0.6);
    margin-left: -70px;
  }
  #home .jumcontent {
    transform: scale(0.8);
  }
}

@media (max-width: 379.81px) {
  .teksosismpkalaz {
    display: none;
  }
  nav .logoimg {
    margin-left: -20px;
    margin-top: 5px;
  }
  .contact-item a {
    font-size: 16px;
  }
  .contact-item i {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .offcanvas {
    background-color: #fff; /* Ganti dengan warna yang diinginkan untuk offcanvas di mobile */
  }
}
